
@import "tailwindcss";


@theme {
  --color-brand-orange: #E85D04;
  --color-brand-green: #105D39;
}

/* Configuración básica */
html, body, #root {
  height: 100%;
  margin: 0;
  font-family: system-ui, -apple-system, sans-serif;
}